/* Shared Styles */
.primary-color {
  color: #4e47ff;
}
.title-color {
  color: #252432;
}
.subtitle-color {
  color: rgba(37, 36, 50, 0.5);
}
.footer-text {
  color: #8987a1;
}
.normal-text {
  color: rgba(0, 0, 0, 0.5);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.btn-primary {
  border-radius: 8px;
  padding: 10px 30px;
  background-color: #4e47ff;
  color: white;
  font-size: 16px;
  border: none;
  font-family: Raleway;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #2e27ee;
}

/* Header styles */
header {
  background-image: url(../Assets/hero-bg.png);
  height: 700px;
  margin: 0 auto;
  background-size: cover;
}
/* Body Styles */
body {
  background-color: #f5f8ff;
}
/* Nav Bar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 110px;
  padding-top: 50px;
  margin-bottom: 150px;
}

.nav-bar h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 800;
}

/* Banner Styles */
.banner-section {
  text-align: center;
}
.banner-section h1 {
  font-family: Raleway;
  font-size: 65px;
  padding-bottom: 35px;
}

/* Action Section styles */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 110px auto;
}

.action-text h2 {
  font-size: 42px;
  font-family: Raleway;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.action-text p {
  font-size: 24px;
  font-family: Raleway;
}
.action-image img {
  border-radius: 15%;
}

/* productive User Section Styles  */
.productive-user-section {
  max-width: 1140px;
  margin: 0 auto;
  background-color: rgba(78, 71, 255, 0.1);
  margin-bottom: 110px;
  border-radius: 20px;
}
.productive-user-section h2 {
  padding: 50px 140px;
  text-align: center;
  font-size: 38px;
  font-family: Raleway;
  font-weight: bold;
}
.user-info {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  padding-bottom: 50px;
}
.user-info h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: Inter;
  line-height: 1em;
}
.user-info p {
  font-size: 20px;
  font-family: Inter;
  text-align: center;
  line-height: 0%;
}

/* Users Review Section Styles */
.users-review-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 110px;
}
.users-review-section h2 {
  text-align: center;
  font-size: 42px;
  font-family: Raleway;
  font-weight: bold;
  padding-bottom: 50px;
}
.review-cards-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.review-cards {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.review-cards img {
  padding-bottom: 20px;
}
.review-cards h4 {
  font-size: 22px;
  font-weight: bold;
  font-family: Inter;
}
.review-cards p {
  font-size: 16px;
  font-family: Inter;
}
.reviewer-info {
  display: flex;
  gap: 20px;
  /* align-items: center; */
}

.reviewer-name-date h5 {
  font-size: 16px;
  color: rgba(37, 36, 50, 0.5);
}
.reviewer-name-date p {
  font-size: 14px;
  line-height: 0%;
  color: rgba(37, 36, 50, 0.5);
}

.reviewer-info img {
  border-radius: 50%;
}

/* Focus Better Section Styles */
.focus-better {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 110px;
  background-color: white;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.focus-container {
  padding: 30px;
}

.focus-container h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Raleway;
}
.focus-container p {
  font-size: 16px;
  font-family: Inter;
}
.focus-container img {
  border-radius: 30px;
  margin-top: 20px;
}

/* Get in touch Section Styles */
.get-in-touch-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.get-in-touch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.get-in-touch-text h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: Raleway;
}

.get-in-touch-form {
  width: 50%;
  margin-right: 25px;
}
.get-in-touch-text {
  width: 50%;
}

.get-in-touch-form input[type="text"],
input[type="email"],
textarea {
  height: 50px;
  display: block;
  width: 100%;
  background-color: white;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  margin-top: 5px;
  font-family: Inter;
  font-size: 14px;
  padding-left: 25px;
}

.get-in-touch-form label {
  font-family: Inter;
  font-size: 16px;
}

.get-in-touch-form textarea {
  padding-top: 15px;
}
.get-in-touch-form button {
}

/* Footer section styles */
footer {
  margin: 0 auto;
  background-color: white;
}
.footer-container {
  text-align: center;
  padding: 50px;
}
.footer-container h1 {
  font-size: 100px;
  font-weight: bolder;
  font-family: Inter;
}
.footer-container p {
  font-size: 16px;
  font-family: Raleway;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}
.footer-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: Raleway;
}
.footer-container ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
